# common
node_modules
!docs/**/*
!docs/*.js
!documents/**/*

# node.js about
*.d.ts

# css
!*.css
!*.scss
*.css.ts

# the other folders & files
!demo/**/*
!scripts/**/*
!*config*
!types/*.d.ts
.wireit/**/*

# catalog & stories
catalog/docs/**/*
!catalog/stories/**/*
!catalog/stories/.firebaserc
!catalog/stories/firebase.json