
.square {
  display: inline-block;
  height:15em;

  border-radius: 10px;

  background-color:#f2f2f2;

  border-style: solid;
  border-top-width: 3px;
  border-right-width: 3px;
  border-bottom-width: 3px;
  border-left-width: 3px;
  border-color:#f2f2f2;  

  box-shadow:#0d0d0d 0px 1px 5px 0px;
}


/*  */
.centerTitle {
  font-size:5em;
  color:#0d0d0d;
  text-align:center;
}
.firstTitle {
  margin:10px 20px;
  font-size:3em;
  color:#0d0d0d;
}
.secondTitle {
  margin:10px 40px;
  font-size:1.5em;
  color:#262626;
}
.description {
  margin:10px 40px;
  font-size:1.5em;
  color:#262626;
}
.descriptionBasic {
  color:#262626;

}

.borderSquare {
  position:absolute;
  z-index:1;

margin-left:auto;
margin-right:auto;

border: 1px solid #fff;
}

/* 圆 通常用于装饰标题  */
.round {
width:1em;
height:1em;

opacity:1;
background-color:#1a64e1;

border-radius:100px;

box-shadow:#0d0d0d 0px 1px 5px 0px;
}

/* 背景 */
.background {
  position:relative;

  width:1280px;
  margin:auto;

  background-color:#e5e5e5;
}

/* top用于顶部 title用于中心聚焦 square用于横幅 round用于按钮 */
.topTitle {
position:fixed;

width:30em;
height:2em;

top: 2em;
left: 0em;
right: 0em;
margin-left:auto;
margin-right:auto;
  
border-radius:10px;
text-align:center;
line-height:2;
font-size:1.5em;

background-color:#f2f2f2;

box-shadow:#0d0d0d 0px 1px 5px 0px;
}

.topSquare {
position:fixed;

width:100%;
height:1em;

top: 0em;
left: 0em;
right: 0em;
margin-left:auto;
margin-right:auto;

opacity:0.9;
text-align:left;
line-height:1;
font-size:1.5em;

background-color:#e5e5e5;

box-shadow:#0d0d0d 0px 1px 5px 0px;
}
.topRound {
position:fixed;

width:2em;
height:2em;

top:2em;
left:0em;
right: 0em;
margin-left:auto;
margin-right:5em;

border-radius:100px;
text-align:center;
line-height:2;
font-size:1.5em;

background-color:#f2f2f2;

box-shadow:#0d0d0d 0px 1px 5px 0px;
}


.avatar {
  border-radius:50%;
  width:400px;
  height:400px;
  margin:auto;
}

.button {
  display: inline-block;

  width: 10em;
  height:2em;
  border-radius: 10px;
  text-align: center;
  line-height: 2;
  font-size: 1.5em;

  border-style: solid;
  border-top-width: 3px;
  border-right-width: 3px;
  border-bottom-width: 3px;
  border-left-width: 3px;
  border-color:#f2f2f2;

  box-shadow:#0d0d0d 0px 1px 5px 0px;
}


