.ButtonNormal:hover{
  transition:all var(--AnimationTransitionTime_Hover);

  background-color: var(--Color_Background_Button_Hover);
  box-shadow: 0px 1px var(--Size_Graphics_Shadow) 1px var(--Color_Graphics_Shadow);
}
.ButtonNormal:active{
  transition:all (--AnimationTransitionTime_Active);
  background-color: var(--Color_VisualCenter_White);
  box-shadow: 0px 1px 0px 1px var(--Color_Graphics_Shadow);
}

.ButtonWeb:hover{
  color : var(--Color_Fonts_Title);

  transform: scale(1.1);
  transition : all var(--AnimationTransitionTime_Hover);
}
.ButtonWeb:active{
  transition : all var(--AnimationTransitionTime_Active);

  background-color: var(--Color_VisualCenter_White);
}

.ButtonText:hover{
  transition : all var(--AnimationTransitionTime_Hover);
  background-color: var(--Color_VisualCenter_White);
  box-shadow: 0px 1px var(--Size_Graphics_Shadow) 1px var(--Color_Graphics_Shadow);
}
.ButtonText:active{
  transition : all var(--AnimationTransitionTime_Active);
  transform: scale(1.2);
  box-shadow: 0px 1px 0px 1px var(--Color_Graphics_Shadow);
}





.ButtonTextNoInline:hover{
  width: 100%;
  transition : all var(--AnimationTransitionTime_Hover);
  background-color: var(--Color_VisualCenter_White);
  box-shadow: 0px 1px 5px 1px var(--Color_Graphics_Shadow);
}
.ButtonTextNoInline:active{
  transition : all var(--AnimationTransitionTime_Active);
  box-shadow: 0px 1px 0px 1px var(--Color_Graphics_Shadow);
}




.ButtonSmall:active{
  transition:all 1s;
  transform: scale(1.1);
  opacity: 0.8;
}


.ButtonFullFrame:hover{
  transition:all var(--AnimationTransitionTime_Hover);
  font-size: 3em;

  background-color: var(--Color_VisualCenter_White);
}
.ButtonFullFrame:active{
  transition:all var(--AnimationTransitionTime_Active);


  background-color: var(--Color_VisualCenter_Blue);
}