


.Button {
  width : 40%;
  height :2em;
  margin : 5% auto auto auto;

  text-align : center;
  line-height : 2;
  font-size : 2em;

  -moz-user-select : none;
  -webkit-user-select :none;
  -ms-user-select : none;

  z-index:var(--Z_Axis_Top);

  color : var(--Color_Fonts_Title);
  background-color : var(--Color_Background_Button);
  box-shadow : 0px 1px var(--Size_Graphics_Shadow) 1px var(--Color_Graphics_Shadow);
  border-radius: var(--Border_Radius_Normal);

  transition : all var(--AnimationTransitionTime);
  transform : scale(1.0);
}

.ButtonLine {
  width : 5em;
  margin: 50px 100px auto auto;

  border-radius: 10px;

  background-color:var(--Color_Fonts_Button);

  border-style: solid;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-color:#999999;  

  transition:all var(--AnimationTransitionTime);
  transform: scale(1.0);
}

.TextSquare {
  width:30%;

  border-radius: 26px;

  background-color:var(--Color_Background);

  transform: scale(1.0);
  transition : all var(--AnimationTransitionTime);
}

.ButtonSmall {  
  position : relative;

  width : 5em;
  height : 2em;
  margin : auto auto;

  text-align : center;
  line-height : 2;
  font-size : 2em;

  -moz-user-select : none;
  -webkit-user-select : none;
  -ms-user-select : none;

  color : var(--Color_Fonts_Title);
  background-color : var(--Color_Background_Button_Hover);
  box-shadow : 0px 1px 5px 1px var(--Color_Graphics_Shadow);
  border-radius : var(--Border_Radius_Normal);
  
  transition : all var(--AnimationTransitionTime);
  transform : scale(1.0);
}

.roundButton {
  width : 1em;
  height : 1em;

  opacity : 1;
  text-align : center;
  line-height : 1;
  font-size : 1em;

  -moz-user-select : none;
  -webkit-user-select : none;
  -ms-user-select : none;

  color : var(--Color_Fonts_Title);
  background-color : var(--Color_Theme_O);
  box-shadow : 0px 1px 5px 1px var(--Color_Graphics_Shadow);
  border-radius : var(--Border_Radius_Normal);

  transition : all var(--AnimationTransitionTime);
  transform : scale(1.0);
}

.webButton {
  margin : 5% 5% 5% 5%;


  transition : all var(--AnimationTransitionTime);
  transform : scale(1.0);
}

.ButtonFullFrame {
  position : relative;

  width : 100%;
  height : 2em;

  border-radius : 0px;
  text-align : center;
  line-height : 2;
  font-size : 2em;

  -moz-user-select : none;
  -webkit-user-select : none;
  -ms-user-select : none;

  color : var(--Color_Fonts_Title);
  background-color : var(--Color_Background_Button_Hover);
  box-shadow : 0px 0px 0px 0px var(--Color_Graphics_Shadow);
  border-radius : var(--Border_Radius_None);

  transition : all var(--AnimationTransitionTime);
  transform : scale(1.0);
}