

.button {
  display: inline-block;

  width: 10em;
  height:2em;

  margin:auto auto auto 10%;

  border-radius: 10px;
  text-align: center;
  line-height:2;
  font-size:2em;
  
  background:#e5e5e5;
  background-color: #3f80ea;
  color: #f2f2f2;

  box-shadow:#0d0d0d 0px 1px 5px 0px;  
  
  

}
.oneTitle {
  font-size:4em;
  margin:auto auto auto 5%;
}

/* 适用于顶部的固定按钮 */
  .buttonTopRound {
    position:fixed;
    
    width:2em;
    height:2em;
    
    top:2em;
    left:0em;
    right: 0em;
    margin-left:auto;
    margin-right:5em;
    
    border-radius:100px;
    text-align:center;
    line-height:2;
    font-size:1.5em;
    
    background-color:#e5e5e5;
    color: #0d0d0d; 

    box-shadow:#0d0d0d 0px 1px 5px 0px;
    }