


.ButtonNormal {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;

  width : 90%;
  height :2em;
  margin : 5% auto auto auto;

  text-align : center;
  line-height : 2;
  font-size : var(--Size_Button_Fonts_Title);

  z-index:var(--Z_Axis_Top);

  color : var(--Color_Fonts_Title);
  background-color : var(--Color_Background_Button);
  box-shadow : 0px 1px var(--Size_Graphics_Shadow) 1px var(--Color_Graphics_Shadow);
  border-radius: var(--Border_Radius_Normal);

  transition : all var(--AnimationTransitionTime_None);
}

.ButtonLine {
  width : 5em;

  background-color:var(--Color_Fonts_Button);
  
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  border-color:#999999;  

  transition:all var(--AnimationTransitionTime_None);
}

.ButtonText {
  width:30%;

  border-radius: 26px;

  background-color:var(--Color_Background);

  transition : all var(--AnimationTransitionTime_None);

  
}

.ButtonTextNoInline {
  width:30%;

  border-radius: 26px;

  background-color:var(--Color_Background);

  transition : all var(--AnimationTransitionTime_None);

  border-style: solid;
  border-width: 1px;
  border-color:#999999;  
}

.ButtonSmall {  
  position : relative;

  width : 5em;
  height : 2em;
  margin : auto auto;

  text-align : center;
  line-height : 2;
  font-size : var(--Size_Button_Fonts_Title);

  color : var(--Color_Fonts_Title);
  background-color : var(--Color_Background_Button_Hover);
  box-shadow : 0px 1px var(--Size_Graphics_Shadow) 1px var(--Color_Graphics_Shadow);
  border-radius : var(--Border_Radius_Normal);
  
  transition : all var(--AnimationTransitionTime_None);
}

.roundButton {
  width : 1em;
  height : 1em;

  opacity : 1;
  text-align : center;
  line-height : 1;
  font-size : 1em;

  color : var(--Color_Fonts_Title);
  background-color : var(--Color_Theme_O);
  box-shadow : 0px 1px var(--Size_Graphics_Shadow) 1px var(--Color_Graphics_Shadow);
  border-radius : var(--Border_Radius_Normal);

  transition : all var(--AnimationTransitionTime_None);
  transform : scale(1.0);
}

.ButtonWeb {
  margin : 5% 5% 5% 5%;

  transition : all var(--AnimationTransitionTime_None);
}

.ButtonFullFrame {
  position : relative;

  width : 100%;
  height : 2em;

  text-align : center;
  line-height : 2;
  font-size : var(--Size_Button_Fonts_Title);

  -moz-user-select : none;
  -webkit-user-select : none;
  -ms-user-select : none;

  color : var(--Color_Fonts_Title);
  background-color : var(--Color_Background_Button_Hover);
  box-shadow : 0px 0px 0px 0px var(--Color_Graphics_Shadow);
  border-radius : var(--Border_Radius_None);
  border-radius : 0px;

  transition : all var(--AnimationTransitionTime_None);
}