
.BackgroundLeftMenu{
  float:left;
  background-color:var(--Color_Background);
  position: relative;
}

.BackgroundCenter{
  float:right;
  position:relative;
  background-color:var(--Color_Background);

  z-index: var(--Z_Axis_Bot);
}

.BackgroundFullFrame{
  background-color: var(--Color_Background);

  z-index: var(--Z_Axis_Bot);
}



.squareLine {
  width:100%;
  margin: 50px 100px auto auto;

  border-radius: 10px;

  background-color:var(--Color_Background);

  border-style: solid;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-color:var(--Color_Background_Button_Line);  

  transform: scale(1.0);
  transition : all var(--AnimationTransitionTime);
}



.TopBar{
  position:fixed;

  width:100%;
  height:2.7em;

  top: 0em;
  left: 0em;
  right: 0em;
  margin:auto auto auto auto;

  z-index:var(--Z_Axis_Top);

  opacity:0.90;
  text-align:left;
  line-height:1;
  font-size:1.5em;

  background-color: var(--Color_Background);
  box-shadow : 0px 1px 5px 1px var(--Color_Graphics_Shadow);

  transform: scale(1.0);
  transition : all var(--AnimationTransitionTime);

}



.WindowAuto{
  width:15%;
  height:50px;
  background-color: var(--Color_Background_Button_Insert);

  border-radius: 10px;

  position: fixed;
  display: inline-block;
  
  z-index:var(--Z_Axis_Top);

  transform: scale(1.0);
  transition : all var(--AnimationTransitionTime);
}
.WindowContent{
  display: none;
  position: absolute;
  width: 100%;
  height:0px;

  transform: scale(1.0);
  transition : all var(--AnimationTransitionTime);
}
.WindowAuto .WindowText{
  color: var(--Color_Fonts_Title);
  font-size:2em;

  text-align: center;

  transform: scale(1.0);
  transition : all var(--AnimationTransitionTime);
}

